*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #c1adb375;
    color: black;
}
.socialbtn {
    --tw-bg-opacity: 1;
    --tw-gradient-from: #fa5252;
    --tw-gradient-to: rgba(250,82,82,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #dd2476;
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    transition-duration: .3s;
    transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 2.5rem;
}
a.links {
    border-bottom: 1px solid black;
}
.text-\[\#1773EA\] {
    --tw-text-opacity: 1;
    color: rgb(23 115 234/var(--tw-text-opacity));
}
.text-\[\#1C9CEA\] {
    --tw-text-opacity: 1;
    color: rgb(28 156 234/var(--tw-text-opacity));
}
.text-\[\#e14a84\] {
    --tw-text-opacity: 1;
    color: rgb(225 74 132/var(--tw-text-opacity));
}
.text-\[\#0072b1\] {
    --tw-text-opacity: 1;
    color: rgb(0 114 177/var(--tw-text-opacity));
}
.bg-nav{
    background-color: #5a6a91;
}
.bg-dark-hover:hover {
    background-image: linear-gradient(to right, #29828b,#27427c); }
.bg-light-hover:hover {
    background-image: linear-gradient(to right, #FA5252,#DD2476); }
.text-black{
    color: black;
}
.text-white{
    color: white;
}
.bg-black{
    background-color: #000000;
}
.bg-light{
    background-color: #c1adb375;
}
.bg-dark{
    background-color: #252b3a;
}
.bg-darkYellow{
    background-color: #664f13;
}
.bg-darkRed{
    background-color: #6c2b2b;
}
.bg-darkPink{
    background-color: #742750;
}
.bg-darkBlue{
    background-color: #24587c;
}
.bg-blue{
    background-color: #72a8cf5c;
}
.bg-darkViolet{
    background-color: #6b427a;
}
#c {
    position: relative;
    width: 800px;
    height: 200px; 
}

ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 200px; 
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 2s opacity; 
    display: flex;
    justify-content: center;
}

.active {
    opacity: 1;
}
section>div{
	/* margin: 0 auto; */
	display: none;
}
section>div.activ{
	display: block;
}
div.content p{
    line-height: 1.7;
}
.border {
	border: 3px solid;
    width: 20%;
}

.lightHr {
	border-image: linear-gradient(to right, #d53a5f, #f33aca) 1 0 0 0;
}

.darkHr {
	border-image: linear-gradient(to right, #29828b, #27427c) 1 0 0 0;
}


/* SKILLSBAR */
.my-skills {
    display: flex;
    justify-content: space-around;
}

.skills-bar .bar .info span {
    font-size: 15px;
    font-weight: 500;
}
.skills-bar .bar .info {
    margin-bottom: 8px;
    color: #07374a;
}
.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 400px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
    position: absolute;
    background: #b8d0e1;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-line .html {
    width: 90%;
}
.progress-line .css {
    width: 90%;
}
.progress-line .bootstrap {
    width: 90%;
}
.progress-line .javascript {
    width: 50%;
}
.progress-line .php {
    width: 70%;
}
.progress-line .laravel {
    width: 90%;
}
.progress-line .wordpress {
    width: 80%;
}
.progress-line .sql {
    width: 50%;
}
.progress-line .tailwind {
    width: 90%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
}
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a7a;
    padding: 1px 8px;
    border-radius: 3px;
}  
.progress-line .html::after {
    content: "90%";
}
.progress-line .css::after {
    content: "90%";
}
.progress-line .bootstrap::after {
    content: "90%";
}
.progress-line .tailwind::after {
    content: "80%";
}
.progress-line .javascript::after {
    content: "50%";
}
.progress-line .php::after {
    content: "15%";
}
.progress-line .sql::after {
    content: "10%";
}
.progress-line .wordpress::after {
    content: "80%";
}
@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}

.resume-btn {
    background-color: rgb(237 242 242/var(--tw-bg-opacity));
    border-radius: 0.5rem;
    color: rgb(68 86 108/var(--tw-text-opacity));
    cursor: default;
    padding: 0.5rem 1.25rem;
}
/* SKILLBARS */
.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.activ {
    background-color: #ddd;
    color: black;
}
.topnav .logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 10px 3px 10px;
    margin-top: 2px;
    text-decoration: none;
    /* font-size: 17px; */
}
.topnav button {
    display: none;
}
@media screen and (max-width: 1023px) {
    .topnav a{
        display: none;
    }
    .topnav button.icon {
        background: transparent;
        float: right;
        display: block;
        padding: 16px 17px;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    button.icon:focus, button.icon:hover {
        border: 0;
        outline: none;
        background: transparent;
    }
}
@media screen and (max-width: 1023px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }
}


:root{
    --bs-dark: #000000;
}  
.theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    /* box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c; */
}
.shadow-light {
    box-shadow: 7px 7px 15px -10px #586064, 0px 0px 13px #ffffff, inset 7px 7px 3px rgb(209 217 230 / 35%), inset 0px 0px 8px 10px rgb(255 255 255 / 30%);
}
@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}
.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}

/* ALERT */
.alert{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.55rem 0.65rem 0.55rem 0.75rem;
    border-radius:1rem;
    min-width:400px;
    justify-content: space-between;
    margin-bottom: 2rem;
    box-shadow:
    0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
    0px 48px 208.9px rgba(0, 0, 0, 0.05),
    0px 115px 500px rgba(0, 0, 0, 0.07)
}
@media (max-width:434px) {
    .alert{
        display: none;
    }
}
.content{
    /* display: flex; */
    align-items:center;
}
.icon{
    padding: 0.5rem;
    border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
    box-shadow:
    0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
    0px 48px 208.9px rgba(0, 0, 0, 0.05),
    0px 115px 500px rgba(0, 0, 0, 0.07);
    width:70px;
    height: 60px;
    margin: 0 auto;
}
.close{
    border:none;
    outline:none;
    transition:all 0.2s ease-in-out;
    padding: 0.75rem;
    border-radius:0.5rem;
    cursor:pointer;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #000000;
}
.close:hover{
    background-color: #fff;
}
.infos{
    background-color: #680c23af;
    border:2px solid #680c23;
}
.infos .icon{
    background-color: #680c23;
}
.disclaimer{
    background-color: rgba(248, 113, 113, 0.459);
}